<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="schemecommisionset" appConnect="local" components="{dmxDataTraversal:{},dmxBootstrap5Modal:{}}" -->
<meta name="ac:route" content="/scheme-commision-set">
<dmx-serverconnect id="scService" url="api/Services/Services"></dmx-serverconnect>
<script is="dmx-flow" id="flowCommision" type="text/dmx-flow">{
  condition: {
    if: "{{scheme_type.value}}",
    then: {
      steps: {
        run: {action: "{{scCommision.load({})}}"}
      }
    }
  }
}</script>
<dmx-serverconnect id="scSchemes" url="api/Scheme/FetchActiveScheme"></dmx-serverconnect>
<dmx-serverconnect id="scCommision" url="api/commision/FetchAllCommision" noload dmx-param:scheme_id="scheme_type.value" dmx-param:service_id="formUpdateAllCommision.inp_Fetch_service.value"></dmx-serverconnect>
<dmx-data-view id="dvCommision" dmx-bind:data="scCommision.data.AllCommisionScheme" filter="(service_name.lowercase().contains(formSearchUser.Search.value.lowercase()) || operator_name.lowercase().contains(formSearchUser.Search.value.lowercase()))"></dmx-data-view>
<dmx-data-detail id="ddCommision" dmx-bind:data="dvCommision.data" key="commision_id"></dmx-data-detail>

<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="Commision">SW Infotech Commision Set<span class="border-3 ms-2 spinner-border spinner-border-sm" role="status" dmx-show="scCommision.state.executing"></span></h1>
            </div>
            <div class="col-auto order-1 order-md-3 d-flex align-items-center justify-content-center">
                <form id="formSearchUser" class="sd-search-form">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0 mb-md-0">
                        <input type="text" class="form-control sd-search-input rounded-pill" id="Search" name="Search" placeholder="Search">
                        <span class="bg-transparent btn position-absolute px-1 py-1"><i class="fas fa-search mb-1 mb-xl-0"></i></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="card">
        <div class="card-header sw-bg-col-primary">
            <b>Commision Setting Based On Scheme</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-3 p-1">
                    <label>Select Scheme</label>
                    <select id="scheme_type" name="scheme_select" class="form-control col-12 px-1 form-select" dmx-bind:options="scSchemes.data.FetchScheme.data" optiontext="scheme_name" optionvalue="sc_id" dmx-on:changed="flowCommision.run()">
                        <option value="">Select</option>
                    </select>
                </div>
                <form is="dmx-serverconnect-form" id="formUpdateAllCommision" method="post" action="api/commision/UpdateAllCommision" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formUpdateAllCommision.data.UpdateAllCommision ? scNotif.success('New Commision Added') : scNotif.success('All Commision Updated');formUpdateAllCommision.reset(); scCommision.load({})" dmx-on:error="scNotif.warning('An error occurred'); " class="d-flex col-12 col-md-9 justify-content-md-end">
                    <input type="hidden" name="scheme_id_all" dmx-bind:value="scheme_type.value">
                    <div class="col-2 col-md-3 p-0"><label>Select Service</label><select type="text" class="form-control form-select" id="inp_Fetch_service" name="service" aria-describedby="inp_service_help" placeholder="Enter Service" dmx-bind:options="scService.data.FetchServices.data" optiontext="service_name" optionvalue="id" required="" dmx-on:changed="flowCommision.run()">
                            <option value="0">All</option>
                        </select>
                    </div>
                    <div class="col-2 col-md-1 p-0">
                        <label>Comm. Per.</label>
                        <input type="number" id="commision_percent" name="commision_percent" class="form-control px-1" placeholder="E.g: 0.00" value="0.00">
                    </div>
                    <div class="col-2 col-md-1 p-0">
                        <label>Comm. Val.</label>
                        <input type="number" id="commision_value" name="commision_value" class="form-control px-1" placeholder="E.g: 0.00" value="0.00">
                    </div>
                    <div class="col-2 col-md-1 p-0">
                        <label>Charge Per.</label>
                        <input type="number" id="charge_percent" name="charge_percent" class="form-control px-1" placeholder="E.g: 0.00" value="0.00">
                    </div>
                    <div class="col-2 col-md-1 p-0">
                        <label>Charge Val.</label>
                        <input type="number" id="charge_value" name="charge_value" class="form-control px-1" placeholder="E.g: 0.00" value="0.00">
                    </div>
                    <div class="col-2 p-0 mt-3 ms-3">
                        <button id="btn1" class="btn btn-info" type="submit" dmx-bind:disabled="state.executing">Update All<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm  sw-font-11">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Operator Name</th>
                    <th>Service</th>
                    <th>Com. Per.</th>
                    <th>Com. Val.</th>
                    <th>Charge %</th>
                    <th>Charge Val.</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" id="tableRepeat1" dmx-bind:repeat="dvCommision.data">
                <tr>
                    <td dmx-text="commision_id"></td>
                    <td dmx-text="operator_name"></td>
                    <td dmx-text="service_name"></td>
                    <td dmx-text="comm_per+' %'"></td>
                    <td dmx-text="comm_val"></td>
                    <td dmx-text="service_charge_per+' %'"></td>
                    <td dmx-text="service_charge_val"></td>
                    <td dmx-text="is_active == 1 ? 'Active' : 'Inactive'" dmx-class:table-primary="is_active == 1" dmx-class:table-danger="is_active == 0"></td>
                    <td>
                        <a class="dropdown-item" href="#" dmx-on:click="ddCommision.select(commision_id)" data-bs-toggle="modal" data-bs-target="#modalAddCommision"><i class="fas fa-edit" title="Edit Commision"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Modal Add Commision -->
<div class="modal fade" id="modalAddCommision" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ddCommision.data.commision_id ? 'Edit Commision' : 'Add Commision'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="formAddEditCommision" method="post" action="api/commision/SchemeCommisionAddEdit" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddEditCommision.data.SchemeCommisionAddEdit ? scNotif.success('New Commision Added') : scNotif.success('Commision Updated'); scCommision.load({})" dmx-on:error="scNotif.warning('An error occurred'); ">
                    <!-- formAddEditCommision.reset(); -->
                    <input type="hidden" name="commisionid" dmx-bind:value="ddCommision.data.commision_id"><input type="hidden" name="service_id" dmx-bind:value="ddCommision.data.service_id">
                    <input type="hidden" name="op_id" dmx-bind:value="ddCommision.data.op_id">
                    <input type="hidden" name="scheme_id" dmx-bind:value="scheme_type.value">
                    <div class="mb-3 row">
                        <label for="inp_name" class="col-sm-2 col-form-label">Commision Percentage</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_Commision_name" name="comm_percent" aria-describedby="inp_name_help" placeholder="E.g: 3.00" maxlength="10" required="" dmx-bind:value="ddCommision.data.comm_per">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_Commision_type" class="col-sm-2 col-form-label">Commision Value(Rs.)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_Commision_type" name="comm_val" aria-describedby="inp_Commision_type_help" placeholder="E.g: 32.00" data-rule-number="" dmx-bind:value="ddCommision.data.comm_val" data-msg-maxlength="5">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_Commision_desc" class="col-sm-2 col-form-label">Charge %</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_Commision_desc" name="charge_percent" aria-describedby="inp_Commision_desc_help" placeholder="E.g: 3.00" maxlength="7" dmx-bind:value="ddCommision.data.service_charge_per">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_commision_val" class="col-sm-2 col-form-label">Charge Value(Rs.)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_commision_val" name="charge_val" aria-describedby="inp_commision_val_help" placeholder="Enter Commision Value" maxlength="10" dmx-bind:value="ddCommision.data.service_charge_val">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select type="text" class="form-control form-select" id="inp_Commision_status" name="status" aria-describedby="inp_status_help" placeholder="Enter Status" dmx-bind:value="ddCommision.data.is_active">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>