<!-- Wappler include head-page="layouts/main" is="dmx-app" id="securityupdate" appConnect="local" -->
<meta name="ac:route" content="/security-update">
<dmx-value id="tpinVis" dmx-bind:value="'password'"></dmx-value>
<dmx-value id="var_tpin" dmx-bind:value="'password'"></dmx-value>
<dmx-value id="passVis" dmx-bind:value="'password'"></dmx-value>
<dmx-value id="var_password" dmx-bind:value="'password'"></dmx-value>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-4">Security Update</h1>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Password</li>
            </ol>
        </div>
        <div class="col-12">
            <form is="dmx-serverconnect-form" id="formPaswordUpdate" method="post" action="api/Users/AdminPasswordUpdate" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="scNotif.success('Password Successfully Updated');formPaswordUpdate.reset();" dmx-on:error="scNotif.warning('An error occurred'); ">
                <div class="mb-3 row">
                    <label for="inp_oldpassword" class="col-sm-2 col-form-label">Old Password</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input dmx-bind:type="passVis.value" name="oldpassword" id="oldpassword" class="form-control" placeholder="Old Password" required="">
                                <div class="input-group-append" dmx-on:click="passVis.setValue(passVis.value == 'password' ? 'text' : 'password')">
                                    <span class="input-group-text" dmx-show="passVis.value == 'password'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <span class="input-group-text" style="padding:0.75rem  0.75rem !important" dmx-show="passVis.value == 'text'">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inp_password" class="col-sm-2 col-form-label">New Password</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input dmx-bind:type="var_password.value" name="newpassword" id="Password_new" class="form-control" placeholder="Password" required="">
                                <div class="input-group-append" dmx-on:click="var_password.setValue(var_password.value == 'password' ? 'text' : 'password')">
                                    <span class="input-group-text" dmx-show="var_password.value == 'password'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <span class="input-group-text" dmx-show="var_password.value == 'text'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">T-PIN</li>
            </ol>
            <form is="dmx-serverconnect-form" id="formTPINUpdate" method="post" action="api/Users/AdminTPinUpdate" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="scNotif.success('TPIN Successfully Updated');formTPINUpdate.reset();" dmx-on:error="scNotif.warning('An error occurred');" dmx-on:unauthorized="scNotif.warning('T-Pin Mismatched')" dmx-on:forbidden="scNotif.warning('T-Pin Mismatched')">
                <div class="mb-3 row">
                    <label for="inp_oldTPin" class="col-sm-2 col-form-label">Old T-Pin</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input dmx-bind:type="tpinVis.value" name="oldtpin" id="oldtpin" class="form-control" placeholder="Old T-PIN" required="">
                                <div class="input-group-append" dmx-on:click="tpinVis.setValue(tpinVis.value == 'password' ? 'text' : 'password')">
                                    <span class="input-group-text" dmx-show="tpinVis.value == 'password'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <span class="input-group-text" dmx-show="tpinVis.value == 'text'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inp_newtpin" class="col-sm-2 col-form-label">New T-Pin</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <input dmx-bind:type="var_tpin.value" name="newtpin" id="tpin_new" class="form-control" placeholder="Password" required="">
                                <div class="input-group-append" dmx-on:click="var_tpin.setValue(var_tpin.value == 'password' ? 'text' : 'password')">
                                    <span class="input-group-text" dmx-show="var_tpin.value == 'password'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <span class="input-group-text" dmx-show="var_tpin.value == 'text'" style="padding:0.75rem  0.75rem !important">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>