<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="viewcc" appConnect="local" components="{dmxDataTraversal:{},dmxBootstrap5Modal:{}}" -->
<meta name="ac:route" content="/view-cc">
<dmx-serverconnect id="scPinStateDist" url="api/Users/GetPINStateDist" dmx-param:pincode="modalAddUsers.formAddEditUser.inp_pin.value"></dmx-serverconnect>
<script is="dmx-flow" id="flowGetPIN" type="text/dmx-flow">{
    condition: {
    if: "{{modalAddUsers.formAddEditUser.inp_pin.value.length() == 6}}",
    then: {
    steps: {
    run: {action: "{{scPinStateDist.load({})}}"}
    }
    }
    }
    }</script>
<dmx-serverconnect id="scCCUsers" url="api/Users/UsersCC"></dmx-serverconnect>
<dmx-data-view id="dvUsers" dmx-bind:data="scCCUsers.data.GetCCUsers.data" pageSize="100" page="10"></dmx-data-view>
<dmx-data-detail id="ddUsers" dmx-bind:data="dvUsers.data" key="id"></dmx-data-detail>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="Users" class="text-center align-self-center">SW Infotech CC Users <span class="border-3 ms-2 spinner-border spinner-border-sm" role="status" dmx-show="scCCUsers.state.executing"></span></h1>
                <!-- <button id="btnAdd" class="btn btn-primary" dmx-on:click="modalAddUsers.show(); ddUsers.select(0); modalAddUsers.formAddEditUser.reset()">Add User</button> -->
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm sw-font-11">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Unique Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Wallet Bal.</th>
                    <th>Access1</th>
                    <th>Access2</th>
                    <th>Access3</th>
                    <th>Access4</th>
                    <th>Access5</th>
                    <th>Access6</th>
                    <th>Access7</th>
                    <th>Access8</th>
                    <th>Status</th>
                    <th>Aadhar No.</th>
                    <th>PAN No.</th>
                    <th>Password</th>
                    <th>Address & PIN</th>
                    <th>State & Dist.</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scCCUsers.data.GetCCUsers.data" id="tableRepeat1">
                <tr>
                    <td>{{$index+1}}</td>
                    <td dmx-text="user_id"></td>
                    <td dmx-text="user_fname.titlecase()"></td>
                    <td dmx-text="user_email"></td>
                    <td dmx-text="user_mobile"></td>
                    <td dmx-text="balance_amt.toNumber().toFixed(2)"></td>
                    <td dmx-text="access_page1 == 1 ? 'SW PAY Support' : ''"></td>
                    <td dmx-text="access_page2 == 1 ? 'Pending Transactions' : ''"></td>
                    <td dmx-text="access_page3 == 1 ? 'Transactions Report' : ''"></td>
                    <td dmx-text="access_page4 == 1 ? 'Live Transactions' : ''"></td>
                    <td dmx-text="access_page5 == 1 ? 'View Users' : ''"></td>
                    <td dmx-text="access_page6 == 1 ? 'Update Txn.' : ''"></td>
                    <td dmx-text="access_page7 == 1 ? 'Browse Tickets' : ''"></td>
                    <td dmx-text="access_page8 == 1 ? 'Other Tickets' : ''"></td>
                    <td dmx-text="u_status != 1 ?'Inactive' : 'Active'" dmx-class:text-primary="u_status == 1" dmx-class:text-warning="u_status != 1"></td>
                    <td dmx-text="aadhar_no"></td>
                    <td dmx-text="pan_no"></td>
                    <td dmx-text="blank1"></td>
                    <td dmx-text="address+' | '+pin"></td>
                    <td dmx-text="state+' | '+district"></td>
                    <td>
                        <a class="sw-col-ar" href="#" dmx-on:click="ddUsers.select(id)" data-bs-toggle="modal" data-bs-target="#modalAddUsers"><i class="fas fa-edit" title="Edit Users" dmx-on:click="flowGetScheme.run()"></i></a>&emsp;<a class="sw-col-br" href="#" dmx-on:click="ddUsers.select(id)" data-bs-toggle="modal" data-bs-target="#modalPasswordUser"><i class="fas fa-user-lock" title="Password Update"></i></a>&emsp;
                        &emsp;<a class="sw-col-cr" href="#" dmx-on:click="ddUsers.select(id)" data-bs-toggle="modal" data-bs-target="#"><i class="fas fa-sign-in-alt" title="Login to user panel"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Modal Users Password Update-->
<div class="modal fade" id="modalPasswordUser" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Password Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Do you want to update this user password?</h3>
                <form is="dmx-serverconnect-form" id="formPassUser" method="post" action="api/Users/PassUpdtByAdmin" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formPassUser.data ? scNotif.success('User Password and TPIN Updated') : ''; formPassUser.reset(); scCCUsers.load();" dmx-on:error="scNotif.warning('An error occurred');">
                    <input type="hidden" name="UserId" dmx-bind:value="ddUsers.data.id">
                    <table class="table table-striped table-bordered table-sm">
                        <tr>
                            <td>Image</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Phone No.</td>
                        </tr>
                        <tr>
                            <td><img dmx-bind:src="ddUsers.data.user_lname" width="50" height="50"></td>
                            <td>{{ddUsers.data.user_fname.titlecase()}}</td>
                            <td>{{ddUsers.data.user_email}}</td>
                            <td>{{ddUsers.data.user_mobile}}</td>
                        </tr>
                    </table>
                    <div class="mb-3 row">
                        <label for="inp_password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inp_password" name="Password" aria-describedby="inp_password_help" placeholder="Enter Password" required="" maxlength="50">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_tpin" class="col-sm-2 col-form-label">TPIN</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inp_tpin" name="tpin" aria-describedby="inp_tpin_help" placeholder="Enter TPIN" data-rule-integer="" required="" maxlength="6">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Update<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Custom Navbar Starts -->
<!-- Modal Add users -->
<div class="modal fade" id="modalAddUsers" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ddUsers.data.id ? 'Edit CC User Details' : 'Add A New CC User'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="formAddEditUser" method="post" action="api/Users/AddEditUsers" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddEditUser.data.AddEditUsers ? scNotif.success('New User Added') : scNotif.success('User Details Updated');formAddEditUser.reset();scCCUsers.load();" dmx-on:error="scNotif.warning('An error occurred');">
                    <input type="hidden" name="UserId" id="UserId" dmx-bind:value="ddUsers.data.id"><input type="hidden" name="user_type" id="user_type" dmx-bind:value="ddUsers.data.user_type"><input type="hidden" name="scheme_id" id="scheme_id" dmx-bind:value="ddUsers.data.scheme_id">
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_name" class="col-form-label">User Name</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_name" name="name" aria-describedby="inp_name_help" placeholder="Enter Name" maxlength="50" required="" data-msg-required="User Name is required." dmx-bind:value="ddUsers.data.user_fname">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><label for="inp_email" class="col-form-label">Email</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="Enter Email" maxlength="100" required="" data-msg-required="Email id is required." data-rule-email="" data-rule-nowhitespace="" dmx-bind:value="ddUsers.data.user_email">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_mobile" class="col-form-label">Mobile</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_mobile" name="mobile" aria-describedby="inp_mobile_help" placeholder="Enter Mobile" maxlength="10" required="" data-msg-required="Mobile id is required." data-rule-number="" dmx-bind:value="ddUsers.data.user_mobile" dmx-bind:readonly="ddUsers.data.id">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><label for="inp_aadhar" class="col-form-label">Aadhar No</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_aadhar" name="aadhar" aria-describedby="inp_aadhar_help" placeholder="Enter Aadhar No" maxlength="12" required="" data-msg-required="Aadhar no is required." data-rule-number="" dmx-bind:value="ddUsers.data.aadhar_no">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_pan" class="col-form-label">PAN No.</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_pan" name="pan" aria-describedby="inp_pan_help" placeholder="Enter PAN No" maxlength="10" required="" data-msg-required="PAN no is required." dmx-bind:value="ddUsers.data.pan_no">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 row mx-0">
                            <label for="inp_status" class="col-form-label">Status</label>
                            <div class="col-12 px-0">
                                <select type="text" class="form-control form-select" id="u_status" name="status" dmx-bind:value="ddUsers.data.u_status">
                                    <option value="1">Active</option>
                                    <option value="0">InActive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6 row mx-0">
                            <label for="inp_pin" class="col-form-label">PIN Code</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_pin" name="pin" aria-describedby="inp_pin_help" placeholder="Enter PIN No." maxlength="100" required="" data-msg-required="PIN is required." dmx-bind:value="ddUsers.data.pin" dmx-on:keyup="flowGetPIN.run()">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 row mx-0">
                            <label for="inp_state" class="col-form-label">State</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_state" name="state" aria-describedby="inp_state_help" placeholder="Enter State" maxlength="100" required="" data-msg-required="State is required." dmx-bind:value="scPinStateDist.data.PinAPI[0].Circle? scPinStateDist.data.PinAPI[0].Circle : ddUsers.data.state">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 row mx-0">
                            <label for="inp_district" class="col-form-label">District</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_district" name="district" aria-describedby="inp_district_help" placeholder="Enter District" maxlength="100" required="" data-msg-required="District is required." dmx-bind:value="scPinStateDist.data.PinAPI[0].District? scPinStateDist.data.PinAPI[0].District : ddUsers.data.district">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><label for="inp_address" class="col-form-label">Address</label>
                            <div class="col-12 px-0">
                                <textarea type="text" class="form-control form-select" id="inp_address" name="address" dmx-bind:value="ddUsers.data.address">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <p class="sd-fw-600 mb-3 pb-1 h5">
                            Permission of Access:
                        </p>
                        <div class="d-flex flex-wrap">
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page1" id="checkSupport" dmx-bind:checked="ddUsers.data.access_page1">
                                    <input type="hidden" name="support" dmx-bind:value="checkSupport.checked">
                                    <span class="text-black">SW PAY Support</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" value="1" dmx-bind:value="ddUsers.data.access_page2" id="checkPendingTr" dmx-bind:checked="ddUsers.data.access_page2 == 1">
                                    <input type="hidden" name="PendingTrans" dmx-bind:value="checkPendingTr.checked">
                                    <span class="text-black">Pending Transactions</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page3" id="checkTrReport" dmx-bind:checked="ddUsers.data.access_page3 == 1">
                                    <input type="hidden" name="TransReport" dmx-bind:value="checkTrReport.checked">
                                    <span class="text-black">Transactions Report</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page4" id="checkLiveTrans" dmx-bind:checked="ddUsers.data.access_page4 == 1">
                                    <input type="hidden" name="LiveTrans" dmx-bind:value="checkLiveTrans.checked">
                                    <span class="text-black">Live Transactions</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page6" id="checkUpdateTxn" dmx-bind:checked="ddUsers.data.access_page6 == 1">
                                    <input type="hidden" name="UpdateTxn" dmx-bind:value="checkUpdateTxn.checked">
                                    <span class="text-black">Update Txn.</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page5" id="checkViewUsers" dmx-bind:checked="ddUsers.data.access_page5 == 1">
                                    <input type="hidden" name="ViewUsers" dmx-bind:value="checkViewUsers.checked">
                                    <span class="text-black">View Users</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page7" id="checkBrowseTickets" dmx-bind:checked="ddUsers.data.access_page7 == 1">
                                    <input type="hidden" name="BrowseTickets" dmx-bind:value="checkBrowseTickets.checked">
                                    <span class="text-black">Browse Tickets</span>
                                </label>
                            </div>
                            <div class="flex-column mb-3">
                                <label class="sw-input-label lh-sm">
                                    <input type="checkbox" dmx-bind:value="ddUsers.data.access_page8" id="checkOtherTickets" dmx-bind:checked="ddUsers.data.access_page8 == 1">
                                    <input type="hidden" name="OtherTickets" dmx-bind:value="checkOtherTickets.checked">
                                    <span class="text-black">Other Tickets</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">{{ddUsers.data.id? 'Update' : 'Submit'}}<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>